[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
django-cors-headers = "*"
djoser = "*"
pillow = "*"
stripe = "*"
psycopg2 = "*"
python-dotenv = "*"
bs4 = "*"
gunicorn = "*"
dj-database-url = "*"
dj-static = "*"
django-heroku = "*"
static3 = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.10"
